:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-main: #212121;
  --secondary-text-main: #757575;
  --accent-color: #2196f3;
  --text-hero-footer: #ffffff;
}

body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
}

/*====Шапка с навигацией====*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background: #ffffff;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.accentlogo {
  color: var(--primary-text-main);
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-main);
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-main);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*====HERO=====*/

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-hero-footer);
}

.modal-btn {
  min-width: 200px;
  padding: 8px 30px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-hero-footer);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
}

.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*=====Описание сайта=====*/

.content-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.content-item-box {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.content-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-main);
}

.content-item {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-main);
}

/*======Галерея======*/
.section.gallery.section {
  padding-top: 0px;
}

.gallery-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-main);
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-items-box {
  flex-basis: calc(100%-90px) / 3;
  margin-left: 30px;
  margin-top: 30px;
}

.gallery-img {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}

/*========Сотрудники==========*/

.user-team {
  background: #f5f4fa;
}

.user-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-main);
}

.users-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.users-team-box {
  flex-basis: calc(100%-120px) / 4;
  margin-left: 30px;
  margin-top: 30px;
}

.users-team-foto {
  background: url(4853.jpg);
  border-radius: 0px;
}

.user-team-wrapper {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-main);
  margin-bottom: 10px;
}

.user-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-main);
}

/*=======Контакты=========*/

.accentlogo-contacts {
  color: var(--text-hero-footer);
}

.logo-footer {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.contact-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-hero-footer);
}

.contact-item-box:not(:first-child) {
  margin-top: 9px;
}

.contact-item-footer {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*======Портфолио======*/

.modal-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.modal-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-box {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-wrapper {
  background: #ffffff;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.modal-btn-portfolio {
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-main);
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background: var(--accent-color);
  color: var(--text-hero-footer);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.portfolio-current {
  border: none;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-img {
  background: url(portfolio1.jpg);
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-main);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-main);
}
